{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form method="post" class="card card-body">
        <h1 class="text-center">Sign In</h1>

        {% csrf_token %}

        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {{ form.non_field_errors }}

        <div class="mb-3">
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.username.errors }}
        </div>

        <div class="mb-3">
          {{ form.password.label_tag }}
          {{ form.password }}
          {{ form.password.errors }}
        </div>

        <button class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>

{% endblock %}
